<div>
    <h2 id="page-heading">
        <span jhiTranslate="kundenportalApp.vertrag.home.title">Vertrags</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vertrag" [routerLink]="['/vertrag/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="kundenportalApp.vertrag.home.createLabel">
            Create a new Vertrag
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kundenportalApp.vertrag.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="vertrags?.length === 0">
        <span jhiTranslate="kundenportalApp.vertrag.home.notFound">No vertrags found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vertrags && vertrags.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vsnr"><span jhiTranslate="kundenportalApp.vertrag.vsnr">Vsnr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sparte"><span jhiTranslate="kundenportalApp.vertrag.sparte">Sparte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zahlenrhytmus"><span jhiTranslate="kundenportalApp.vertrag.zahlenrhytmus">Zahlenrhytmus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="antragsdatum"><span jhiTranslate="kundenportalApp.vertrag.antragsdatum">Antragsdatum</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="versicherungsbeginn"><span jhiTranslate="kundenportalApp.vertrag.versicherungsbeginn">Versicherungsbeginn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iban"><span jhiTranslate="kundenportalApp.vertrag.iban">Iban</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="kundenportalApp.vertrag.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="kundenportalApp.vertrag.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vertrag of vertrags ;trackBy: trackId">
                    <td><a [routerLink]="['/vertrag', vertrag.id, 'view']">{{ vertrag.id }}</a></td>
                    <td>{{ vertrag.vsnr }}</td>
                    <td jhiTranslate="{{ 'kundenportalApp.Sparte.' + vertrag.sparte }}">{{ vertrag.sparte }}</td>
                    <td jhiTranslate="{{ 'kundenportalApp.Rhytmus.' + vertrag.zahlenrhytmus }}">{{ vertrag.zahlenrhytmus }}</td>
                    <td>{{ vertrag.antragsdatum | date:'medium' }}</td>
                    <td>{{ vertrag.versicherungsbeginn | date:'medium' }}</td>
                    <td>{{ vertrag.iban }}</td>
                    <td>{{ vertrag.created | date:'medium' }}</td>
                    <td>
                        {{ vertrag.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vertrag', vertrag.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vertrag', vertrag.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(vertrag)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="vertrags && vertrags.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
