<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vertrag-heading" jhiTranslate="kundenportalApp.vertrag.home.createOrEditLabel">Create or edit a Vertrag</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.vertrag.vsnr" for="field_vsnr">Vsnr</label>
                    <input type="text" class="form-control" name="vsnr" id="field_vsnr"
                           formControlName="vsnr"/>
                    <div *ngIf="editForm.get('vsnr')!.invalid && (editForm.get('vsnr')!.dirty || editForm.get('vsnr')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vsnr')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.vertrag.sparte" for="field_sparte">Sparte</label>
                    <select class="form-control" name="sparte" formControlName="sparte" id="field_sparte">
                        <option value="LV">{{ 'kundenportalApp.Sparte.LV' | translate }}</option>
                        <option value="KRANKEN">{{ 'kundenportalApp.Sparte.KRANKEN' | translate }}</option>
                        <option value="SUHK">{{ 'kundenportalApp.Sparte.SUHK' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.vertrag.zahlenrhytmus" for="field_zahlenrhytmus">Zahlenrhytmus</label>
                    <select class="form-control" name="zahlenrhytmus" formControlName="zahlenrhytmus" id="field_zahlenrhytmus">
                        <option value="MONATLICH">{{ 'kundenportalApp.Rhytmus.MONATLICH' | translate }}</option>
                        <option value="VIERTERJAERLICH">{{ 'kundenportalApp.Rhytmus.VIERTERJAERLICH' | translate }}</option>
                        <option value="JAERLICH">{{ 'kundenportalApp.Rhytmus.JAERLICH' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.vertrag.antragsdatum" for="field_antragsdatum">Antragsdatum</label>
                    <div class="d-flex">
                        <input id="field_antragsdatum" type="datetime-local" class="form-control" name="antragsdatum" formControlName="antragsdatum" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.vertrag.versicherungsbeginn" for="field_versicherungsbeginn">Versicherungsbeginn</label>
                    <div class="d-flex">
                        <input id="field_versicherungsbeginn" type="datetime-local" class="form-control" name="versicherungsbeginn" formControlName="versicherungsbeginn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.vertrag.iban" for="field_iban">Iban</label>
                    <input type="text" class="form-control" name="iban" id="field_iban"
                           formControlName="iban"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.vertrag.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.vertrag.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
