<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-schade-heading" jhiTranslate="kundenportalApp.schade.home.createOrEditLabel">Create or edit a Schade</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.schade.vsnr" for="field_vsnr">Vsnr</label>
                    <input type="text" class="form-control" name="vsnr" id="field_vsnr"
                           formControlName="vsnr"/>
                    <div *ngIf="editForm.get('vsnr')!.invalid && (editForm.get('vsnr')!.dirty || editForm.get('vsnr')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vsnr')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.schade.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                           formControlName="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.schade.anhang" for="field_anhang">Anhang</label>
                    <div>
                        <div *ngIf="editForm.get('anhang')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('anhangContentType')!.value, editForm.get('anhang')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('anhangContentType')!.value }}, {{ byteSize(editForm.get('anhang')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({anhang: null});editForm.patchValue({anhangContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_anhang" (change)="setFileData($event, 'anhang', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="anhang" id="field_anhang"
                           formControlName="anhang"/>
                    <input type="hidden" class="form-control" name="anhangContentType" id="field_anhangContentType"
                           formControlName="anhangContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.schade.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kundenportalApp.schade.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
